<div class="navbar">
  <h1 style="text-align: left;">FOIA</h1>
  <div class="navbar-right">
    <p style="color: white;">THE FOIA PROJECT</p>
  </div>
</div>
<div fxLayout="column" fxLayoutGap="25px" style="margin: 20px">
  <div class="card" style="height: 82vh; justify-content: space-evenly !important" fxLayoutGap="5px"
    fxLayoutAlign="center" fxLayout="column">
    <div class="filters" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutAlign="space-between center">
      <div fxLayout="row" fxLayoutGap="10%" fxFlex="50"></div>
      <div class="input-group has-icon-left" fxFlex="300px" fxFlex.gt-sm="20" fxFlex.lt-md></div>
    </div>

    <div class="card-title" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="space-between center"></div>

    <div fxLayout="column" fxLayoutGap="20px" class="tableStructure">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matPaginator table table-responsive-xs
        bookings>
        <!-- Title Column -->
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef> <b>Title</b> </th>
          <td mat-cell *matCellDef="let agency">
            {{ agency.attributes.title }} ({{ agency.attributes.abbreviation }})
          </td>
        </ng-container>

        <!-- Website Column -->
        <ng-container matColumnDef="website">
          <th mat-header-cell *matHeaderCellDef> <b>Website</b> </th>
          <td mat-cell *matCellDef="let agency">
            <a href="{{ agency.attributes.website?.uri || 'http://www.foia.va.gov/' }}" target="_blank">
              {{ agency.attributes.website?.uri || 'http://www.foia.va.gov/' }}
            </a>
          </td>
        </ng-container>

        <!-- Address Column -->
        <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef> <b>Address</b> </th>
          <td mat-cell *matCellDef="let agency">
            {{ agency.attributes.submission_address?.address_line1 || 'Claims Intake Center'}},
            {{ agency.attributes.submission_address?.address_line2 || 'P.O. Box 4444'}},
            {{ agency.attributes.submission_address?.locality || 'Janesville'}},
            {{ agency.attributes.submission_address?.administrative_area || 'WI 53547'}}
            {{ agency.attributes.submission_address?.postal_code || 'PA 19144'}},
            {{ agency.attributes.submission_address?.country_code || 'US'}}
          </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container class="sub-fields" matColumnDef="action">
          <th class="table-th" mat-header-cell *matHeaderCellDef mat-sort-header><b>Action</b></th>
          <td mat-cell *matCellDef="let agency">
            <button value="display" (click)="goToDetails(agency.id)">
              View
            </button>
          </td>
        </ng-container>

        <!-- Table Rows -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>

    <!-- Paginator -->
    <mat-paginator class="paginator" [pageIndex]="pageIndex" [pageSize]="pageSize" [length]="pageLength" #paginator
      (page)="getNext($event)" showFirstLastButtons>
    </mat-paginator>
  </div>
</div>



<!-- Drawer for Profile Details -->
<div class="drawer" [class.open]="isDrawerOpen">
  <div class="drawer-content">
    <button class="close-button" (click)="closeProfile()">X</button>
    <div>
      <h2 style="text-align: center;">Relationship Details</h2>
      <p><strong style="color:  black;">Agency Name:</strong>Department of Education</p>
      <p><strong style="color:  black;">Field Misc:</strong>Focuses on educational policies</p>
      <h3><strong style="color:black;">Foia Officers </strong></h3>
      <ul>
        <li><strong style="color: black;">Name:</strong>John Doe</li>
        <li><strong style="color:  black;">Email:</strong>john.doe&#64;education.gov</li>
      </ul>
    </div>
  </div>
</div>